* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font src Start */
@font-face {
    font-family: "r-poppins";
    src: url(./Img/Font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "m-poppins";
    src: url(./Img/Font/Poppins-Medium.ttf);
}

/* Font src End */

/* Container & Col Start */
.container {
    width: 1200px;
    margin: 0 auto;
}

.col20 {
    width: 20%;
}

.col30 {
    width: 30%;
}

.col35 {
    width: 35%;
}

.col40 {
    width: 40%;
}

.col50 {
    width: 50%;
}

.col70 {
    width: 70%;
}

.col80 {
    width: 80%;
}

.col100 {
    width: 100%;
}

/* Container & Col End */

/* Useful class Start */
.row {
    display: flex;
    flex-wrap: wrap;
}

.posab {
    position: absolute;
}

.posrel {
    position: relative;
}

.align {
    align-items: center;
}

.jst {
    justify-content: space-between;
}

.justify {
    justify-content: center;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.margin-left {
    margin-left: auto;
}

.margintob {
    margin: 20px 0;
}

.paddingtob {
    padding: 20px 0;
}

/* Useful class End */

/*----- Background color & color class Start----- */
/* White color Start */
.bg-white {
    background-color: #FFFBF3;
}

.white {
    color: #FFFBF3;
}

/* Black color Start */
.black {
    color: #000;
}

/* Purple color Start */
.bg-purple {
    background-color: #F2E8E7;
}

.purple {
    color: #F2E8E7;
}

/* Peach color Start */
.bg-peach {
    background-color: #CC9361;
}

.peach {
    color: #CC9361;
}

/* ----- Background color & color class End -----*/

/* -----Font style  start -----*/
.one {
    font-size: 4.375rem;
    font-weight: 500;
    font-family: "m-poppins";
}

.two {
    font-size: 3.125rem;
    font-weight: 500;
    font-family: "m-poppins";
}

.three {
    font-size: 1.875rem;
    font-weight: 500;
    font-family: "m-poppins";
}

.four {
    font-size: 1.125rem;
    font-weight: 500;
    font-family: "m-poppins";
}

.five {
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "r-poppins";
}

.six {
    font-size: 1rem;
    font-weight: 400;
    font-family: "r-poppins";
}

/* ----- Font style  End ----- */

/* Sec1 Class Start */
.Logo {
    width: 15%;
}

.Logo img {
    width: 100%;
    display: block;
}

.nav li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.active a {
    color: #CC9361;
}

.login svg {
    width: 20px;
    /* height: 27.582px; */
    transform: rotate(4.604deg);
}

.login button {
    border-radius: 5px;
    margin: 0 15px;
}

.butotnJoin1 {
    border: 2px solid #CC9361;
    padding: 10px 30px;
}

.butotnJoin1:hover {
    background-color: #CC9361;
    color: #FFFBF3;
}

/* Sec1 Class End */

/* sec2 Class Start */
.bg1 {
    background-image: url(./Img/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.stroke1 {
    left: 0;
}

.stroke2 {
    top: 0;
}

.collageinterior {
    margin: 15px 15px;
    padding: 15px 15px;
}

.collageinterior img {
    width: 100%;
}

.bgoneheading p,
button {
    margin: 10px 0;
    padding: 10px 0;
}

.your {
    left: 140px;
    top: 80px;
}
.bannerright{
    bottom: 30px;
    right: 30px;
}
.stroke3{
    right: 0;
}
.stroke4{
    bottom: 0;
}
.NOWJoin {
    background: none;
    color: #F2E8E7;
    border: 2px solid #F2E8E7;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10px 0;
}
/* .swiper-slide img {
    display: block;
    object-fit: cover;
} */

/* sec2 Class End */

/* Sec3 Class Start */
.sec1L {
    width: 80%;
}

.sec1L img {
    width: 100%;
    display: block;
}

.lorem {
    width: 70%;
    margin-left: auto;
    padding: 10px 0;
}

.aboutusL {
    transform: rotate(-90deg);
}

/* [--------this class is for bottom border---------] */
.bottomline {
    width: 4rem;
    border-bottom: 2px solid #CC9361;
}

/* Sec3 Class End */

/* sec4 class start */
.ourserborder {
    margin: 0 auto;
}

.bookbtn {
    border: 2px solid #CC9361;
    border-radius: 30px;
    padding: 5px 15px;
}

.sec2R {
    width: 90%;
}

.sec2R img {
    width: 100%;
    display: block;
}

.servicesL {
    transform: rotate(90deg);
}

/* td .stroke {
    border: 2px solid #000;
} */
/* sec4 class End */

/* sec5 class Start */
.bridal,
.bridal1 {
    width: 10%;
}

.bridal img,
.bridal1 img {
    width: 100%;
    display: block;
}

.bridal1 {
    /* right:5rem; */
}

.bridalbottom {
    width: 4rem;
    border-bottom: 2px solid #F2E8E7;
}

/* html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 80%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 60%;
  height: 100%;
  object-fit: cover;
} */

/* sec5 class End */

/* sec6 class Start */
.expic img {
    width: 100%;
    display: block;
}

/* sec6 class End */

/* sec7 class Start*/
.sec7 {
    z-index: 0;
    padding: 70px 0;
}

.banneri2 {
    width: 23%;
}

.banneri2 img {
    width: 100%;
}

.flower {
    background-image: url(./Img/banneri1.png);
    background-repeat: no-repeat;
    border-radius: 2px 250px 2px 250px;
    margin-left: 10%;
}

.star1 {
    right: 30px;
    top: 0px;
}

.border {
    border-radius: 213px;
    border: 1px solid var(--cc-936170, #CC9361);
    width: 70%;
    height: 70%;
    transform: rotate(-12.721deg);
    position: absolute;
    right: 171px;
    bottom: -16.863px;
    z-index: -1;
    margin: 50px 0;
}

.Distxt p {
    width: 50%;
    margin: 20px 0;
    padding: 20px 25px;
    border-radius: 8px;
    text-align: center;
}

.inpget {
    border: none;
    padding: 5px 30px;
    border-radius: 10px;
    outline: none;
    margin-left: 25px;
}

.getst {
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-left: -20px;
}

.star2 {}

/* sec7 class End */

/* sec8 class Start*/
.paingtb {
    padding: 5px 0
}

.Passionate {
    width: 40%;
}

.Passionate img {
    width: 100%;
    display: block;
}

/* sec8 class End */

/* sec9 class Start */
.sec9 {
    background-image: url(./Img/attachment.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.excourse {
    width: 50%;
    margin: 0 auto;
}

.excorline {
    width: 4rem;
    border-bottom: 2px solid #F2E8E7;
}

.expic2_1 {
    bottom: 10px;
}

.expic2_2 {
    bottom: 0px;
}

.comboN {
    top: 55px;
    left: 50px;
}

.arrow {
    border-radius: 50px;
    padding: 15px 18px;
}

/* sec9 class End */

/* sec10 class Start */
body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.box1 {
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box1 p {
    width: 70%;
    margin: 0 auto;
}

.box2 {
    border-radius: 10px;
}

.box2 p {
    width: 70%;
    margin: 0 auto;
}

.padding {
    padding: 0 5px;
}

/* sec10 class End */

/* sec11 class start */
.counter {
    background-image: url(./Img/bgcounter.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
}

/* sec11 class End */

/* sec12 start */
.Appoint {
    background-color: #FFFBF3;
    border-radius: 10px;
    padding: 30px 10px;
}

.commonAppoin {
    border-radius: 5px;
    border: none;
    padding: 20px;
}

.Fname {
    width: 40%;
}

.Mobile,
.Email,
.selcour {
    width: 80%;
}

.Submitbtn {
    border-radius: 20px;
    border: 2px solid #CC9361;
    padding: 10px 30px;
}

.Eilipse1 {
    top: -90px;
    right: 0;
}

.Appointpic {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.Appointpic img {
    width: 100%;
}

/* sec12 End */

/* Footer sec13 Start */
.marginLR {
    margin: 0 20px;
}

/* Footer sec13 End */