/* Universal class Start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFBF3;
}

/* Font src Start */
@font-face {
    font-family: "r-poppins";
    src: url(./Img/Font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "m-poppins";
    src: url(./Img/Font/Poppins-Medium.ttf);
}

/* Font src End */

/* Container & Col Start */
.container {
    width: 1200px;
    margin: 0 auto;
}

.col20 {
    width: 20%;
}

.col40 {
    width: 40%;
}

.col50 {
    width: 50%;
}

.col80 {
    width: 80%;
}

.col100 {
    width: 100%;
}

/* Container & Col End */

/* Useful class Start */
.row {
    display: flex;
    flex-wrap: wrap;
}

.posab {
    position: absolute;
}

.posrel {
    position: relative;
}

.align {
    align-items: center;
}

.jst {
    justify-content: space-between;
}

.justify {
    justify-content: center;
}

.txt-center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.margin-left {
    margin-left: auto;
}

.paddingtob {
    padding: 20px 0;
}

/* Useful class End */

/*----- Background color & color class Start----- */
/* White color Start */
.bg-white {
    background-color: #FFFBF3;
}

.white {
    color: #FFFBF3;
}

/* Black color Start */
.black {
    color: #000;
}

/* Purple color Start */
.bg-purple {
    background-color: #F2E8E7;
}

.purple {
    color: #F2E8E7;
}

/* Peach color Start */
.bg-peach {
    background-color: #CC9361;
}

.peach {
    color: #CC9361;
}

/* ----- Background color & color class End -----*/

/* -----Font class start------- */
.m-poppins {
    font-family: "m-poppins";
}

.r-poppins {
    font-family: "r-poppins";
}

/* -----Font class End------- */


/* -----Font style  start -----*/
.one {
    font-size: 4.375rem;
    font-weight: 500;
    font-family: "m-poppins";
}

.two {
    font-size: 3.125rem;
    font-weight: 500;
    font-family: "m-poppins";
}

.three {
    font-size: 1.875rem;
    font-weight: 500;
    font-family: "m-poppins";
}

.four {
    font-size: 1.125rem;
    font-weight: 500;
    font-family: "m-poppins";
}

.five {
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "r-poppins";
}

.six {
    font-size: 1rem;
    font-weight: 400;
    font-family: "r-poppins";
}

/* ----- Font style  End ----- */

/* Sec1 Class Start */
.Logo {
    width: 15%;
}

.Logo img {
    width: 100%;
    display: block;
}

.nav li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.active a {
    color: #CC9361;
}

.login svg {
    width: 20px;
    /* height: 27.582px; */
    transform: rotate(4.604deg);
}

.login button {
    border-radius: 5px;
    margin: 0 15px;
}

.btnJoin1 {
    border: 2px solid #CC9361;
    padding: 10px 30px;
}

.btnJoin1:hover {
    background-color: #CC9361;
    color: #FFFBF3;
}

/* Sec1 Class End */

/* sec2 Class Start */
/* .swiper {
    width: 100%;
  } */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* .b1{
    background-image: url(./Img/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: cover;
  } */
/* sec2 Class End */

/* Sec3 Class Start */
.sec1L {
    width: 80%;
}

.sec1L img {
    width: 100%;
    display: block;
}

.lorem {
    width: 70%;
    margin-left: auto;
    padding: 10px 0;
}
.aboutusL{
    transform:rotate(-90deg);
}
/* [--------this class is for bottom border---------] */
.bottomline {
    width: 4rem;
    border-bottom: 2px solid #CC9361;
}
/* Sec3 Class End */

/* sec4 class start */
.ser-mar-tob {
    margin: 20px 0;
}
.ourserborder {
    margin: 0 auto;
}
.bookbtn {
    border: 2px solid #CC9361;
    border-radius: 30px;
    padding: 5px 15px;
}
.sec2R{
    width:80%;
}
.sec2R img{
    width:100%;
    display: block;
}
.servicesL {
    transform: rotate(90deg);
}
/* td .stroke {
    border: 2px solid #000;
} */
/* sec4 class End */

/* sec5 class Start */
.box {
    background-color: #CC9361;
    color: #F2E8E7;
    border-radius: 5px;
}

.bridalbottom {
    width: 4rem;
    border-bottom: 2px solid #F2E8E7;
}

.bridal {}


body {
    background: #eee;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* sec5 class End */

/* sec6 class Start */
.exp {
    width: 20%;
}
.exp img {
    width: 100%;
}
/* sec6 class End */

/* sec7 class Start*/

/* sec7 class End */